<h1>To-Do List</h1>
<p><%= link_to 'New To-Do', new_todo_path %></p>
<% @todos.each do |todo| %>
  <h2><%= todo.title %></h2>
  <h3><%= todo.priority %></h3>
  <p><%= todo.body %></p>
  <%= link_to 'Show To-Do List', todo_path(todo) %>
  <%= link_to 'Edit To-Do', edit_todo_path(todo) %>
<% end %>

